<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gameking_var2.remoteproject" >

    <application
        android:allowBackup="true">
        <activity
            android:name=".StartCard"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_start_card" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </activity>
        <activity
            android:name=".MainLine.MainLine"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_main_line" >
        </activity>
        <activity
            android:name=".Select_QorA.Selectqa"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_record" >
        </activity>
        <activity
            android:name=".GameType.GameType"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_game_type" >
        </activity>
        <activity
            android:name=".Answer.Answer"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_answer" >
        </activity>
        <activity
            android:name=".Login.Login"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_login" >
        </activity>
    </application>

</manifest>
