<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gameking_var2.remoteproject" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="true" >
        <activity
            android:name=".StartCard"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_start_card" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </activity>
        <activity
            android:name=".MainLine.MainLine"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_main_line" >
        </activity>
        <activity
            android:name=".Select_QorA.Selectqa"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_record" >
        </activity>
        <activity
            android:name=".Answer.Answer"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_answer" >
        </activity>
        <activity
            android:name=".Login.Login"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".Answer.TitleCard"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_title_card" >
        </activity>
        <activity
            android:name=".Answer.Options"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name=".SearchQuestion.Searchq"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_searchq" >
        </activity>
        <activity
            android:name=".Rank.Rank"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_rank" >
        </activity>
        <activity
            android:name=".Answer.ReplyCompare"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_ReplyCompare" >
        </activity>
        <activity
            android:name=".Topic.Topic"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_Topic" >
        </activity>
    </application>

</manifest>
