<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.glass123.glasslogin" >

    <!-- Google Plus Login -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Bluetooth -->

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Camera -->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_new.NoActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyProfile"
            android:label="@string/title_activity_my_profile"
            android:screenOrientation="landscape" />
        <!-- Bluetooth Connect Activity -->
        <activity
            android:name=".Bluetooth.BluetoothChatFragment"
            android:screenOrientation="landscape" />

        <!-- Bluetooth Connect Device List -->
        <activity
            android:name=".Bluetooth.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name=".SetProfile"
            android:label="@string/title_activity_set_profile"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SetProfileAge"
            android:label="@string/title_activity_set_profile_age"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ChooseDevice"
            android:label="@string/title_activity_choose_device"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ConnectSuccess"
            android:label="@string/title_activity_connect_success"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CreativeGlass.CreativeGlassMain"
            android:label="@string/title_activity_creative_glass_main"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CreativeGlass.CreativeGlassStart"
            android:label="@string/title_activity_creative_glass_start"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CreativeGlass.AnswerQuestion.FindQuestion"
            android:label="@string/title_activity_find_question"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CreativeGlass.WithGlass.WithGlassStart"
            android:label="@string/title_activity_with_glass_start"
            android:screenOrientation="landscape" />
        <!-- Create Question -->

        <activity
            android:name=".CreativeGlass.CreateQuestion.CreateQuestionSend"
            android:label="CreateHint3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CreativeGlass.CreateQuestion.CreateQuestion"
            android:label="@string/title_activity_create_question"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme_new.NoActionBar.NoActionBar" >
        </activity>
        <activity
            android:name=".CreativeGlass.AnswerQuestion.QuestionInfo"
            android:label="@string/title_activity_question_info"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".CreativeGlass.AnswerQuestion.Hints"
            android:label="@string/title_activity_hints"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CreativeGlass.AnswerQuestion.Answer"
            android:label="@string/title_activity_answer"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CreativeGlass.AnswerQuestion.Evaluation"
            android:label="@string/title_activity_evaluation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CreativeGlass.SetFloor"
            android:label="@string/title_activity_set_floor"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Transparent" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GlassMap"
            android:label="@string/title_activity_glass_map"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CreativeGlass.AnswerQuestion.FindMap"
            android:label="@string/title_activity_find_map"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CreativeGlass.MyCreative.MyCreative"
            android:label="@string/title_activity_my_creative" />
        <activity
            android:name=".CreativeGlass.MyCreative.Achievement"
            android:label="@string/title_activity_achievement" />
    </application>

</manifest>
