<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.glass123.glasslogin" >

    <!-- Google Plus Login -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Bluetooth -->

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Camera -->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyProfile"
            android:label="@string/title_activity_my_profile"
            android:screenOrientation="landscape" >
        </activity>
        <!-- Bluetooth Connect Activity -->
        <activity
            android:name=".Bluetooth.BluetoothChatFragment"
            android:screenOrientation="landscape" />

        <!-- Bluetooth Connect Device List -->
        <activity
            android:name=".Bluetooth.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name=".SetProfile"
            android:label="@string/title_activity_set_profile"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".SetProfileAge"
            android:label="@string/title_activity_set_profile_age"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ChooseDevice"
            android:label="@string/title_activity_choose_device"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ConnectSuccess"
            android:label="@string/title_activity_connect_success"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".CreativeGlass.CreativeGlassMain"
            android:label="@string/title_activity_creative_glass_main"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".CreativeGlass.CreativeGlassStart"
            android:label="@string/title_activity_creative_glass_start"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".CreativeGlass.AnswerQuestion.FindQuestion"
            android:label="@string/title_activity_find_question"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".CreativeGlass.WithGlass.WithGlassStart"
            android:label="@string/title_activity_with_glass_start"
            android:screenOrientation="landscape" >
        </activity>
        <!-- Create Question -->
        <activity
            android:name=".CreativeGlass.CreateQuestion.CreateQuestionAnswer"
            android:label="@string/title_activity_create_question_answer"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CreativeGlass.CreateQuestion.CreateHint1"
            android:label="@string/title_activity_create_hint1"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CreativeGlass.CreateQuestion.CreateHint2"
            android:label="CreateHint2"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CreativeGlass.CreateQuestion.CreateHint3"
            android:label="CreateHint3"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CreativeGlass.CreateQuestion.CreateQuestionSend"
            android:label="CreateHint3"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".CreativeGlass.AnswerQuestion.QuestionInfo"
            android:label="@string/title_activity_question_info"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".CreativeGlass.AnswerQuestion.Hints"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_hints" >
        </activity>
        <activity
            android:name=".CreativeGlass.AnswerQuestion.Answer"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_answer" >
        </activity>
        <activity
            android:name=".CreativeGlass.AnswerQuestion.Evaluation"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_evaluation" >
        </activity>
    </application>

</manifest>
